<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>My Tamagotchi!</title>
  </head>
  <body>
    <h1>My Tamagotchi</h1>

    <form action="/myTamagotchi" method="post">
      <label for="name">Add a new name for your Tamagotchi</label>
      <input id="name" name="name" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>